@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    margin: auto;
    font-family: 'Source Code Pro', monospace;
}

header {
    display: flex;
    align-items: center;
    padding: 40px;
}

h1 {
    text-shadow: 5px 5px rgb(255, 211, 227);
}

section {
    display: flex;
    flex-direction: column;
}

.day {
    flex: 1;
}

article {
    display: flex;
}

h2 {
    display: flex;
    text-align: center;
    align-self: center;
}

a {
    text-decoration: none;
    color: rgb(73, 0, 104);
    background: rgb(255, 211, 227);
    border: rgb(255, 255, 255) solid 2px;
    width: 80%;
    padding: 50px;
}

a:hover {
    color: rgb(0, 0, 255);
    background: rgb(255, 255, 255);
    border: rgb(0, 0, 255) solid 2px;
}

a img {
    display: none;
    position: fixed;
    z-index: 1;
    top: 25%;
    left: 25%;
    width: 50%;
    opacity: 0;
}

a:hover img {
    display: block;
    opacity: 1;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px;
}